---
layout: default
title: Contact Us
permalink: /contact-us
description: Contact Expandia today. We're available via phone, email or carrier pigeon and we'll always be delighted to hear from you.
---

<div class="hero contact-page__hero">
	<div class="hero__content contact-page__hero-content">
		<div class="contact-page__left">
			<address class="contact-page__body">
				{% if site.legal-name %}<b>{{ site.legal-name }}</b><br>{% endif %}
				{% if site.address__1 %}{{ site.address__1 }},<br>{% endif %}
				{% if site.city %}{{ site.city }}, <br>{% endif %}
				{% if site.county %}{{ site.county }}, {% endif %}{% if site.country %}{{ site.country }}<br>{% endif %}
				{% if site.post-code %}{{ site.post-code }}{% endif %}
			</address>
			<a class="contact-page__link" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</div>
		<div class="contact-page__right">
			<form class="contact-page__form" accept-charset="UTF-8" action="//getsimpleform.com/messages?form_api_token=68fa37b8ba0e4a3e46aac199db57c090" method="POST">
				<h3 class="contact-page__form-title">Say Hello.</h3>
				<input type='hidden' name='redirect_to' value='{{ site.url }}/thanks' />
				<input type="text" name="name" placeholder="Name" class="contact-page__input" required>
				<input type="email" name="email" placeholder="Email" class="contact-page__input" required>
				<input type="tel" name="telephone" placeholder="Telephone" class="contact-page__input">
				<input type="submit" value="Submit" class="contact-page__submit">
			</form>
		</div>
	</div>
</div>