---
layout: default
title: Hello - Try us out for £99. An introductory offer from Expandia.
permalink: /hello
description: Exclusive offer from Expandia. Our Startup Package - A website, logo and a whole load more for only £999.
---
<div class="hero hello__hero">
	<div class="hello__hero-container">
		<h1 class="global__title hello__hero-title">Hello.</h1>
		<h5 class="global__sub hello__hero-sub">You’re invited to try our services for one month for only £100.</h5>
	</div>
	<div class="hello__hero-stages">
		<div class="hello__hero-stage">
			<h4 class="hello__hero-stage-title">First</h4>
			<p class="hello__hero-stage-body">We’ll review your online presence and fix any problems.</p>
		</div>
		<div class="hello__hero-stage hello__hero-stage--next">
			<h4 class="hello__hero-stage-title">Next</h4>
			<p class="hello__hero-stage-body">We’ll drive traffic, followers and interactions.</p>
			<svg class="hello__hero-socials">
				<use xlink:href="#svg-expandia__hello-socials" />
			</svg>
		</div>
		<div class="hello__hero-stage">
			<h4 class="hello__hero-stage-title">Then</h4>
			<p class="hello__hero-stage-body">We’ll review your trial and create you a brand new, comprehensive digital strategy.</p>
		</div>
		<svg class="hello__hero-squiggles">
			<use xlink:href="#svg-expandia__hello-squiggles" />
		</svg>
	</div>
	<svg class="hello__hero-bottom-svg">
		<use xlink:href="#svg-expandia__hero-bottom-svg" />
	</svg>
</div>

<div class="hello__services" id="services">
	<h2 class="hello__services-title">What's Included?</h2>
	{% for item in site.data.hello.included %}
		<div class="hello__service {% cycle 'hello__service--odd', 'hello__service--even' %}">
			<div class="hello__service-left">
				<div class="hello__service-left-container">
					<h5 class="hello__service-title">{{ item.title }}</h5>
					<p class="hello__service-body">{{ item.description }}</p>
				</div>
			</div>
			<div class="hello__service-right">
				<img src="/img/dist/startups/{{ item.img }}" alt="" class="hello__service-img">
			</div>
		</div>
	{% endfor %}
</div>

<div class="hello__app">
	<h2 class="hello__app-title">Watch your progress on our exclusive app.</h2>
	<div class="hello__app-container">
		<div class="hello__app-left">
			<img src="{{ site.url }}/img/dist/svg/expandia__app-icon.svg" alt="" class="hello__app-img">
		</div>
		<div class="hello__app-right">
			<p class="hello__app-body">Our new, exclusive app will show you exactly what you’re spending and where your money goes.</p>
		
			<div class="hello__app-item-container">
				{% for item in site.data.support.app %}
					<div class="hello__app-item">
						<svg class="hello__app-item-img">
							<use xlink:href="#svg-expandia__app-img--{{ item.img }}"/>
							<p class="hello__app-item-body">{{ item.description }}</p>
						</svg>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="hello__tonnes">
	<h2 class="hello__tonnes-title">100% of clients who have tried us have used us again.</h2>
	<img src="/img/dist/startups/expandia__tonnes.png" alt="" class="hello__tonnes-img">
	<img src="/img/dist/startups/expandia__startups-client-logos.png" alt="" class="hello__tonnes-client-images">
</div>

<style>
	.pre-footer {
		box-shadow: none;
	}
	.nav {
		padding: 1.5rem 5%;
	}
</style>