---
layout: default
title: Monthly Package
permalink: /support
description: Exclusive offer from Expandia. Our Startup Package - A website, logo and a whole load more for only £999.
---
<div class="hero support__hero">
	<div class="support__hero-container">
		<div class="support__hero-left">
			<div class="support__hero-left-container">
				<svg class="support__hero-svg">
					<use xlink:href="#svg-expandia__hero-svg" />
				</svg>
				<h2 class="global__title support__hero-title">Everything you need to <span class="support__hero-title-span">succeed online</span> in one monthly package.</h2>
				<h5 class="global__sub support__hero-sub">A digital marketing strategy that works across social media, your website and the major search engines to drive traffic and increase conversions.</h5>
			</div>
		</div>
		<div class="support__hero-right">
			<h3 class="support__hero-form-title">Start your journey...</h3>
			<form accept-charset="UTF-8" action="//getsimpleform.com/messages?form_api_token=68fa37b8ba0e4a3e46aac199db57c090" method="POST" class="support__hero-form">
				<input type='hidden' name='redirect_to' value='{{ site.url }}/thanks' />
				<input name="Name" type="text" placeholder="Name" class="support__hero-input" required>
				<input name="Phone" type="tel" placeholder="Telephone" class="support__hero-input" required>
				<input name="Email" type="email" placeholder="Email" class="support__hero-input" required>
				<input type="submit" value="Let's Go!" class="support__hero-submit">
			</form>
		</div>
	</div>
	<svg class="support__hero-bottom-svg">
		<use xlink:href="#svg-expandia__hero-bottom-svg" />
	</svg>
</div>

<div class="support__usp-section">
	<div class="support__usp-container">
		{% for usp in site.data.support.usp %}
			<div class="support__usp">
				<svg class="support__usp-item-icon">
					<use xlink:href="#svg-expandia__{{ usp.icon }}-icon" />
				</svg>
				<h4 class="global__title global__title--c support__usp-item-title">{{ usp.title }}</h4>
				<p class="support__usp-body">{{ usp.description }}</p>
			</div>
		{% endfor %}
	</div>
</div>

<div class="support__services" id="services">
	<h2 class="support__services-title">What's Included?</h2>
	{% for item in site.data.support.included %}
		<div class="support__service {% cycle 'support__service--odd', 'support__service--even' %}">
			<div class="support__service-left">
				<div class="support__service-left-container">
					<h5 class="support__service-title">{{ item.title }}</h5>
					<p class="support__service-body">{{ item.description }}</p>
				</div>
			</div>
			<div class="support__service-right">
				<img src="/img/dist/startups/{{ item.img }}" alt="" class="support__service-img">
			</div>
		</div>
	{% endfor %}
</div>

<div class="support__tonnes">
	<h2 class="support__tonnes-title">We've already worked our magic on loads of websites.</h2>
	<img src="/img/dist/startups/expandia__tonnes.png" alt="" class="support__tonnes-img">
	<img src="/img/dist/startups/expandia__startups-client-logos.png" alt="" class="support__tonnes-client-images">
</div>

<div class="support__app">
	
	<h2 class="support__app-title">Monitor your costs and progress with our exclusive app.</h2>

	<div class="support__app-container">
		<div class="support__app-left">
			<img src="{{ site.url }}/img/dist/svg/expandia__app-icon.svg" alt="" class="support__app-img">
		</div>
		
		<div class="support__app-right">
			<p class="support__app-body">Our new, exclusive app will show you exactly what you’re spending and where your money goes.</p>
		
			<div class="support__app-item-container">
				{% for item in site.data.support.app %}
					<div class="support__app-item">
						<svg class="support__app-item-img">
							<use xlink:href="#svg-expandia__app-img--{{ item.img }}"/>
							<p class="support__app-item-body">{{ item.description }}</p>
						</svg>
					</div>
				{% endfor %}
			</div>
		
		</div>
	</div>
</div>

<div class="support__costs">
	<h2 class="support__costs-title">How much does it cost?</h2>
	<p class="support__costs-body">Packages start from as little as £25 per month but can be tailored to suit any budget. We'll always help you spend your budget wisely and never charge you for advice.</p>
</div>

<style>
	.pre-footer {
		box-shadow: none;
	}
	.nav {
		padding: 1.5rem 5%;
	}
</style>