<div class="pre-footer">
	<div class="pre-footer__left">
		<h3 class="pre-footer__title">Ready to make a start?</h3>
		<p class="pre-footer__body">Fill in the form and we’ll get straight back to you to discuss your {% if page.title == "Startup Package" %}startup package{% else %}project{% endif %}.</p>
	</div>
	<div class="pre-footer__right">
		<form class="pre-footer__form" accept-charset="UTF-8" action="//getsimpleform.com/messages?form_api_token=68fa37b8ba0e4a3e46aac199db57c090" method="POST">
			<input type='hidden' name='redirect_to' value='{{ site.url }}/thanks' />
			<input class="pre-footer__form-field" type="text" name="name" placeholder="Name" required>
			<input class="pre-footer__form-field" type="tel" name="phone" placeholder="Telehone" required>
			<input class="pre-footer__form-field" type="email" name="email" placeholder="Email">
			<input class="pre-footer__form-field--submit" type="submit" value="Submit">
		</form>
	</div>
</div>